.centered-navbar-links {
    display: flex;
    width: 800px;
    gap: 40px;
}

.centered-content {
    display: flex;
    width: 800px;
    margin: 20px auto;
}

.main-block {
    display: flex;
    height: 800;
}

html, body {
    background: #FFFAFA
}

.content-block {
    display: flex;
    background-color: #FFFAFA;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(88, 88, 88, 0.5);
}